a {

	font-size: 20px;
	text-decoration: none;

}

/*a:hover { /*Pseudoclases

	background: #f9a03f;
	color: #fff;

}*/

a:link {

	text-decoration: none;
	color: red;

}

a:visited {

	color: gray;

}

a:active {

	text-decoration: underline;
	color: yellow;

}