body {

	font-family: Arial, sans-serif;
	background: #f2f2f2;

}

a {

	/*display: none; /*block, inline, inline-block, flex*/
	/*visibility: hidden;*/

	background: #246eb9;
	color: #fff;
	padding: 20px;
	display: inline-block; /*Se requiere para que el padding se aplique correctamente*/
}

.caja {

	color: black;
	background: #4fb560;
	margin: 20px 0;
	width: 200px;
	height: 200px; /*El texto se puede desbordar*/
	overflow: auto; /*El texto que se desborda no se muestra*/
	/*overflow auto sirve para poner un scroll */
}

.contenedor {

	width: 600px;
	background: #ccc;
	margin: 20px 0;
	overflow: hidden;
}

.izquierda {

	float: left;
}

.derecha {

	float: right;
}

.contenedor2 .caja {

	width: 150px;
	height: 150px;
	position: relative; /*Nos permite posicionar las cajas*/
}

.azul {

	background: #009ddc;
	z-index: 10;
}

.gris {

	background: #32021f;
	left: 50px;
	bottom: 80px;
	z-index: 9;

}